<a href="https://colab.research.google.com/github/sugban/OnePlus-Tution/blob/main/Python/Lesson4/Dictionary_and_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
population = {'Denmark': 5792202, 'Germany': 83783942, 'France': 65273511, 'Spain':46754778}

In [ ]:
population['France']

65273511

In [ ]:
population.get('France')

65273511

In [ ]:
population.keys()

dict_keys(['Denmark', 'Germany', 'France', 'Spain'])

In [ ]:
population.values()

dict_values([5792202, 83783942, 65273511, 46754778])

In [ ]:
population.items()

dict_items([('Denmark', 5792202), ('Germany', 83783942), ('France', 65273511), ('Spain', 46754778)])

Check if the key exists

In [ ]:
if 'France' in population:
  print("Yes, 'France' is one of the keys in the dictionary")
else:
  print('Sorry! it\'s not in the dictionary')

Yes, 'France' is one of the keys in the dictionary

In [ ]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

In [ ]:
# Get index of 'germany': ind_ger
ind_ger = countries.index('germany')

In [ ]:
# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

berlin

To add in new key and value pair in the dictionary

In [ ]:
population['Finland'] = 5540720

To change the value of the specific item

In [ ]:
population['Denmark'] = 5830202

In [ ]:
population.update({'Germany': 8300002})

In [ ]:
population.update({'Sweden': 10161073})

In [ ]:
population

{'Denmark': 5830202,
 'Finland': 5540720,
 'France': 65273511,
 'Germany': 8300002,
 'Spain': 46754778,
 'Sweden': 10161073}

Add the key ‘Italy’ with the value 60461826

In [ ]:
population['Italy'] = 60461826

Print the dict to see if the new key and value been added

In [ ]:
population

{'Denmark': 5830202,
 'Finland': 5540720,
 'France': 65273511,
 'Germany': 8300002,
 'Italy': 60461826,
 'Spain': 46754778,
 'Sweden': 10161073}

To remove the key value pair: del<dict>[key-name]

In [ ]:
del population['France']
print(population)

{'Denmark': 5830202, 'Germany': 8300002, 'Spain': 46754778, 'Finland': 5540720, 'Sweden': 10161073, 'Italy': 60461826}

In [ ]:
population.pop('Germany')

8300002

Loops in dictionary

In [ ]:
for x in population:
  print(x)

Denmark
Spain
Finland
Sweden
Italy

In [ ]:
# to print the values
for x in population:
  print(population[x])

5830202
46754778
5540720
10161073
60461826

In [ ]:
for x in population.values():
  print(x)

5830202
46754778
5540720
10161073
60461826

In [ ]:
# to get keys 
for x in population.keys():
  print(x)

Denmark
Spain
Finland
Sweden
Italy

In [ ]:
# to get items or key value pair in tuples
for x in population.items():
  print(x)

('Denmark', 5830202)
('Spain', 46754778)
('Finland', 5540720)
('Sweden', 10161073)
('Italy', 60461826)

Copy a dictionary

In [ ]:
new_dict = population.copy()
new_dict['India'] = 897897889

In [ ]:
new_pop = dict(new_dict)
new_pop["USA"] = 7888789
print(new_dict)
print(new_pop)

{'Denmark': 5830202, 'Spain': 46754778, 'Finland': 5540720, 'Sweden': 10161073, 'Italy': 60461826, 'India': 897897889}
{'Denmark': 5830202, 'Spain': 46754778, 'Finland': 5540720, 'Sweden': 10161073, 'Italy': 60461826, 'India': 897897889, 'USA': 7888789}

Dictionary of dictionaries

In [ ]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }
print(europe)

{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}}

In [ ]:
# Print out the capital of France
print(europe['france']['capital'])

paris

In [ ]:
# Create sub-dictionary data
data={}
for i,j in europe.items():
    for a,b in j.items():
        data.update({a:b})
    print(data)

{'capital': 'madrid', 'population': 46.77}
{'capital': 'paris', 'population': 66.03}
{'capital': 'berlin', 'population': 80.62}
{'capital': 'oslo', 'population': 5.084}

In [ ]:
data['capital']='rome'
data['population']=59.83
print(data)

{'capital': 'rome', 'population': 59.83}

In [ ]:
data

{'capital': 'rome', 'population': 59.83}

In [ ]:
# Add data to europe under key 'italy'
europe['italy']=data

# Print europe
print(europe)

In [ ]:
# creating tuple
tup = ("apple", "banana", "cherry", "strawberry", "hindbear", "pineapple")
print(tup)

You can access tuple items by referring to the index number, inside square brackets

In [ ]:
tup[1]

Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
tup[-2]

You can specify a range of indexes by specifying where to start and where to end the range

In [ ]:
tup[2:4]

Convert the tuple into a list to be able to change it

In [ ]:
lst = list(tup)
lst[1] = "kiwi"
tup =tuple(lst)
tup

Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [ ]:
lst.append('orange')
tup =tuple(lst)
tup

In [ ]:
# unpacking tuple
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

Loops in tuple

In [ ]:
for i in fruits:
  print(i)

In [ ]:
# Loop Through the Index Numbers
for i in range(len(fruits)):
  print(fruits[i])

In [ ]:
i = 0
while i < len(fruits):
  print(fruits[i])
  i = i + 1

In [ ]:
# join two tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

In [ ]:
# multiply tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)