<a href="https://colab.research.google.com/github/sugban/OnePlus-Tution/blob/main/Python/Lesson4/Lesson_4__Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Print the first item of the tuple.

body_parts = ("Nose", "Ear", "Eyes", "Hand", "Leg", "Mouth")

In [ ]:
body_parts = ("Nose", "Ear", "Eyes", "Hand", "Leg", "Mouth")
body_parts[0]

'Nose'

2. Use the correct syntax to print the number of items in the body_parts tuple.

In [ ]:
print(len(body_parts))

6

3. Use negative indexing to print the last item in the tuple

In [ ]:
print(body_parts[-1])

Mouth

4. Convert tuple into list and add two more body parts in the tuple and change back to tuple

In [ ]:
list1 = list(body_parts)
list1.append("nails")
list1.append("fingers")
body_parts_updated = tuple(list1)
print(body_parts_updated)

('Nose', 'Ear', 'Eyes', 'Hand', 'Leg', 'Mouth', 'nails', 'fingers')

5. Update the 1st index value of the tuple

In [ ]:
body_parts.append("hair")

AttributeError: ignored

6. Use a range of indexes to print the third, fourth, and fifth item in the tuple

In [ ]:
print(body_parts[3:6])

('Hand', 'Leg', 'Mouth')

7. Create a dictionary with the student data, with the key (name, date of birth, class and class_year)

In [ ]:
student_data = {}
student_data['name'] = "Sam"
student_data['dob'] = "MAY-01-1986"
student_data['class'] = "Engg"
student_data['Class_year'] = 2006
student_data

{'Class_year': 2006, 'class': 'Engg', 'dob': 'MAY-01-1986', 'name': 'Sam'}

8. Use the get() to print the value of the "model" key of the dictionary

In [ ]:
student_data['name']

'Sam'

9. Change the "class_year" value for example from 2000 to 2010

In [ ]:
student_data['Class_year'] = 2010

10. Add the key/value pair "class_teacher" : "Mrs. Thomas" to the dictionary

In [ ]:
student_data['class_teacher'] = "Mrs.Thomas"

11. Use the pop method to remove "class_year" from the dictionary

In [ ]:
student_data.pop("Class_year")

2010

12. Create a dictionary into student dictionary in the key name "subject" with the value<br>
 {'Math':['Airthematic','Geomatry','Algebra'],'Science':['Physics','Chemistry','Biology'], 'Economics':['Micro','Macro','Statistics']}

In [ ]:
student_data["subject"] = {'Math':['Airthematic','Geomatry','Algebra'],'Science':['Physics','Chemistry','Biology'], 'Economics':['Micro','Macro','Statistics']}

13. get the key 'subject' value 'Economics' in the output

In [ ]:
student_data['subject']['Economics']

['Micro', 'Macro', 'Statistics']

14. fromkeys() method is used to create a new dictionary with the same value of all the keys

In [ ]:
studentsname = ['John','Mike','Cris','Robert','Peter']
class_student = dict.fromkeys(studentsname,'IV')
class_student

{'Cris': 'IV', 'John': 'IV', 'Mike': 'IV', 'Peter': 'IV', 'Robert': 'IV'}

Or if you want to make a dictionary without the values and only with keys

In [ ]:
class_teacher = ['Mrs.Thomas','Mr.Ravi','Miss Abha','Mr. Nielsen']
teacher = dict.fromkeys(class_teacher)
teacher

{'Miss Abha': None, 'Mr. Nielsen': None, 'Mr.Ravi': None, 'Mrs.Thomas': None}