<a href="https://colab.research.google.com/github/sugban/OnePlus-Tution/blob/main/Python/Lesson2/Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a vaiable with a defined number and then within the loop calculate the sum of the defined number range.<br>
 1+2+3+4+5+……………+n

In [ ]:
n = 10
sum = 0
for i in range(1,n+1):
  sum+=i
print("total sum of the given number is {}".format(sum))

total sum of the given number is 55

2. Consider a tuple<br> 
tup1 = (24, 67, 34, 89, 56, 47, 26, 74)<br> 
Find maximum value of the tuple with the help of loop

In [ ]:
tup1 = (24, 67, 34, 89, 56, 47, 26, 74)
max_val = tup1[0]
for x in tup1:
  if x>max_val:
    max_val = x
print(max_val)

89

3. Consider a list<br> 
list1 = [10, 20, 30, 40, 50]<br>
Write a program to find the sum of all elements in the list.

In [ ]:
list1 = [10, 20, 30, 40, 50]
result = 0
for x in list1:
  result+=x
print(result)

150

4. Write a program to print all the numbers from 1 to n, <br>
 which are divisible by 5

In [ ]:
n = int(input("Enter the number"))
for i in range(1,n+1):
  if i%5==0:
    print(i)

Enter the number15
5
10
15

5. Write a program to print numbers from 1 to 10, except 4 and 7

In [ ]:
for i in range(1,11):
  if i == 4 or i ==7:
    continue
  print(i)

1
2
3
5
6
8
9
10

6. Create two variables **fname** and **lname** with the values of first name and last name respectively and with the help of inner loop join the names together into third variable **full_name**

In [ ]:
fname = ["vijayalakshmi"]
lname = ["muruganantham"]
for i in fname:
  for j in lname:
    full_name = i+" "+j
print(full_name)

vijayalakshmi muruganantham

7. Ask for a number from the user as input and find the number is even or odd in loop from 0 to the given number.<br>
0,1,2,...,n

In [ ]:
n = int(input("enter the number"))
for x in range(n+1):
  if x%2==0:
    print("{} is even".format(x))
  elif x%2==1:
    print("{} is odd".format(x))

enter the number20
0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

8. Create a program, where loop read text of alphabet and as it gets **T**, it will not print it and go further but as it gets **U**, it stops.

In [ ]:
strparam = "abcdefghijklmnopqrstuv"
for i in strparam:
  if i.lower() == "t":
    continue
  elif i.lower() == "u":
    break
  else:
    print(i)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s

9. Write a program to print the following pattern.
---
![Q1.PNG]()

In [ ]:
i = 5
while i:
  print('* '*i)
  i-=1

* * * * *
* * * *
* * *
* *
*

10. Write a program to accept decimal number from list<br>
list =[20, 14.25, 2, 1.04, 80, 50.55]

In [ ]:
list =[20, 14.25, 25, 1.04, 80, 50.55,14.44]
new_list = []
for i in list:
  if isinstance(i,float):
    new_list.append(i)
print(new_list)

[14.25, 1.04, 50.55, 14.44]

In [ ]:
ans = []
for i in list:
  if isinstance(i, float):
    ans.append(i)

print(ans)

[14.25, 1.04, 50.55]

In [ ]:
ans = []
for i in list:
  if type(i) == float:
    ans.append(i)

print(ans)

[14.25, 1.04, 50.55]

Practice with the loops by trying different loop statement and explore

In [ ]:
n=5
for i in range(1,n):
  print(i**2,end=" ")
n=5
while n:
  print(n**2,end=" ")
  n-=1

1 4 9 16 25 16 9 4 1

In [ ]:
list =[20, 14.25, 25, 1.04, 80, 50.55,14.44]
for i in list:
  if