<a href="https://colab.research.google.com/github/sugban/OnePlus-Tution/blob/main/Python/Lesson2/Lesson_2_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

While loop

In [ ]:
i = 1			
while i <= 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
count = 0
while count < 10:
   print('The count is:', count)
   count = count + 1

print ("Loop has completed!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
The count is: 9
Loop has completed!

While loop with break statement

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
var = 10                    
while var > 0:              
   print ('Current variable value :', var)
   var = var -1
   if var == 5:
      break

print( "Loop has completed!")

Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Loop has completed!

While loop with continue statement

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

While loop with else statement

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
count = 0
while count < 5:
   print (count, " is  less than 5")
   count = count + 1
else:
   print  (count, " is not less than 5")

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5
5  is not less than 5

**For Loop**

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "cherry":
    break
  print(x)

apple
banana

In [ ]:
list =[1,2,3,4,5,6,7,8,9,10]
x=0
print('Index value 0: ',list[x])
for x in list:
  print(x)
 # x=x+1

Index value 0:  1
1
2
3
4
5
6
7
8
9
10

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:                                 #inner loop
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
for x in [0, 1, 2]:
  
  pass

In [ ]:
n = 5
for x in range(1,n+1):
      for y in range(1,x+1):  # inner loop
          print("*",end=" ")
      print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
number = int(input('Enter a number to print the table: '))
for x in range(1,11):
      print(number,"x",x,"=",number*x)

Enter a number to print the table: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# muliply from 1 to 10 by it's own number 
# 1*1, 2*2, 3*3,....n*n
total = 0
i = 1
for i in range(11):
  total=i*i
  print(total)

0
1
4
9
16
25
36
49
64
81
100

In [ ]:
total = 0
i = 1
while i <= 10:
  total = i*i
  i+=1
  print(total)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# ask a number from user in input()
# pick number one by one as string and
# convert them into integer and calculate the sum of those numbers
# for example : int(num[0])+ int(num[1])+...+ int(num[n])

num = input('Enter a number : ')
sum = 0
for i in num:
  sum += int(i)
print("total:",sum)

Enter a number : 5678
total: 26

In [ ]:
num = input('Enter a number: ')
sum = 0
for i in num:
  print(i)

Enter a number: 3425
3
4
2
5

In [ ]:
num