<a href="https://colab.research.google.com/github/sugban/OnePlus-Tution/blob/main/Python/Lesson1/Homework_lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Print your name, date and class homework title

In [ ]:
name = "Vijayalakshmi"
date = "July 5"
homework = "Lesson1"
print("name:{},date:{},honework:{}".format(name,date,homework))

name:Vijayalakshmi,date:July 5,honework:Lesson1

2. Create a numerical varibale and print it to check the output.

In [ ]:
num = 10
print(num)

10

 3. Bring the output : 600 with these two variables 
---
number1 = 20 <br>
number2 = 30

In [ ]:
number1 = 20
number2 = 30
print(number1*number2)

600

4. Define a string variable and try to slice them and print the output with comment expalining your actions.

In [ ]:
str1 = "Python Coding"
print(str1[:6])#printing 1st word
print(str1[7:])#printing the 2nd word

Python
Coding

5. Define a list and add two lists together to check, if its adding or not.

In [ ]:
list1=['a','b','c']
list2 = [1,2,3]

print(list1+list2)#using adding

['a', 'b', 'c', 1, 2, 3]

6. Define a dictionary with key and values, where at least one value is a list or tuple. Print the dictionary.

In [ ]:
dict1 = {"operators":('+','-','*','/'),"nums":[1,2,3,4,5]}
print(dict1)
print(dict1["operators"])
print(dict1["nums"])

{'operators': ('+', '-', '*', '/'), 'nums': [1, 2, 3, 4, 5]}
('+', '-', '*', '/')
[1, 2, 3, 4, 5]

7. Define tuple and check if it can be double up with * and print it.

In [ ]:
tuple = ("apple","orange","banana")
print(tuple*2)

('apple', 'orange', 'banana', 'apple', 'orange', 'banana')

8. What will be the output for
---
b = [11,13,15,17,19,21]<br> print(b[:2])

In [ ]:
[11,13]

[11, 13]

9. dict1 = {'F_Name': 'Zara', 'Age': 7, 'L_Name': 'Manni'} 
---
Get the output : 'Manni'

In [ ]:
dict1 = {'F_Name': 'Zara', 'Age': 7, 'L_Name': 'Manni'}
print(dict1['L_Name'])

Manni

10. tup1 = ('physics', 'chemistry', 1997, 2000) <br> tup1[0]='Art'
---
What will be the output

In [ ]:
error as tuple is immutable

 
*   Try to play little more with varibales and its different types and explore, what you can do.
*   Try to index and slice string, list, dictionary and tuple.
*   Play with floating and integer numbers as well and check whether it changes, when you define a certain numeric data type to the variable.

In [ ]:
#checking methods in list
l1 = [1,2,3]
l2 = [4,5,6]
l3 = ['a','b']
#print(l1.extend(l2))
l1.extend(l2)
l2.reverse()
l3.append('c')
print(l1,l2,l3)

[1, 2, 3, 4, 5, 6] [6, 5, 4] ['a', 'b', 'c']