<a href="https://colab.research.google.com/github/sugban/OnePlus-Tution/blob/main/Python/Lesson3/Lesson_3_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Define a function that takes two input by user name and date of birth and print a dictionary, when called with information

In [ ]:
def user_info(dict1):
  for key in dict1:
    print("{} : {}".format(key,dict1[key]))

dict1 = {"user_name": "John", "DOB" : "Apr26"}
user_info(dict1)

user_name : John
DOB : Apr26

2. Define a program, which returns an average of the marks given in the dict

In [ ]:
marks = {'English': 82, 'Math': 95, 'Science': 91, 'Physical Education': 84, 'Social Science': 88, 'Arts': 52, 'Geography': 89, 'IT': 98}
total = 0
count = 0
for val in marks.values():
  total+=val
  count+=1
print(total/count)

84.875

 3. **Create a function that can accept dictionary** with key and value - *month* and *salary* as input 12 times for each month and **returns annual salary with the key** *year* **in a dictionary** that will print while calling function with argument

In [ ]:

annual_report = {}
month,salary = input('Enter the month and salary: ').split()
annual_report[month] = int(salary)
print(annual_report)

Enter the month and salary: jan 100
{'jan': 100}

In [ ]:
def sal_year(annual):
  annual['year']=sum(annual.values())
  return(annual)

annual = {}
for i in range(12):
  month,salary = input('Enter the month and salary: ').split()
  annual[month] = int(salary)

print(sal_year(annual))

Enter the month and salary: jan 10000
Enter the month and salary: feb 10000
Enter the month and salary: march 10000
Enter the month and salary: april 12000
Enter the month and salary: may 12000
Enter the month and salary: june 12000
Enter the month and salary: july 15000
Enter the month and salary: aug 15000
Enter the month and salary: sept 20000
Enter the month and salary: oct 20000
Enter the month and salary: nov 20000
Enter the month and salary: dec 20000
{'jan': 10000, 'feb': 10000, 'march': 10000, 'april': 12000, 'may': 12000, 'june': 12000, 'july': 15000, 'aug': 15000, 'sept': 20000, 'oct': 20000, 'nov': 20000, 'dec': 20000, 'year': 176000}

4. Write a function name **calculator()**, that can accept two variables and calculate the addition, subtraction, division and multiplication of them.


---

def calculator(a, b):
    # Your Code

print(calculator(40, 10))

In [ ]:
def calculator(a,b,c):
  
  if opt == '+':

    return a+b
  elif opt == "-":

    return a-b
  elif opt == "/":

    return a/b
  elif opt == '*':

    return a*b
  

num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
opt = input('What do you want + or - or * or / :')
print('Your answer is: ',calculator(num1,num2,opt))

Enter first number: 6
Enter second number: 4
What do you want + or - or * or / :+
Your answer is:  10

5.  Generate a Python list of all the even numbers between 4 to 30 with range()
---
expected output:
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
def even_list():
  even_list = []
  for i in range(4,30):
    if i%2 == 0:
      even_list.append(i)
  return even_list

print(even_list())

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

6. Return the largest item from the given list , remember max()

In [ ]:
aList = [4, 6, 8, 24, 12, 2]
print(max(aList))

24

7. Make all the letters uppercase and then lowercase

In [ ]:
text = 'All I want is to be a python developer.'
print(text.upper())
print(text.lower())

ALL I WANT IS TO BE A PYTHON DEVELOPER.
all i want is to be a python developer.

8. Split the text with comma and print it

In [ ]:
text = 'Hello, I like playing footbaal, tennis, badminton, chess, and also minecraft.'
print(text.split(','))

['Hello', ' I like playing footbaal', ' tennis', ' badminton', ' chess', ' and also minecraft.']

9. count letter **i** in the given string.

In [ ]:
string = "Python is awesome, isn't it? I write codding in my dream also."
print(string.count("i"))

6

10. Create two list and append

In [ ]:
l1=[1,2,3,4]
l2 = [5,6,7,8]
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8]

11. Define a function to, from given list

gadgets = [“Mobile”, “Laptop”, 100, “Camera”, 310.28, “Speakers”, 27.00, “Television”, 1000, “Laptop Case”, “Camera Lens”]

a) Calculate the total price of the all the gadgets.

b) Calculate the average of all the gadgets.

In [ ]:
gadgets = ["Mobile","Laptop",100,"Camera",310.28,"Speakers",27.00,"Television",1000,"Laptop Case","Camera Lens"]
total_price = 0
count = 0
for i in gadgets:
  
  if str(i).isnumeric():
    total_price+=i
  else:
    count+=1
print(f'total price is {total_price}')
print(f'average of all gadgets is {total_price/count}')

total price is 1100
average of all gadgets is 122.22222222222223