<a href="https://colab.research.google.com/github/sugban/OnePlus-Tution/blob/main/Python/Lesson3/Lesson_3_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Returns the absolute value of a number. In case a complex number is passed, the magnitude of that number is returned. <br>
abs()

In [ ]:
abs(-3)

3

Returns the specified iterator with the specified function applied to each item. map() is useful when you need to apply a transformation function to each item in an iterable and transform them into a new iterable.

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]

def myfunc(a):
  return a**a

new_lst = []
for i in lst:
  new_lst.append(myfunc(i))

print(new_lst)

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]

def myfunc(a):
  return a**a

x = list(map(myfunc, lst))

print(x)

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

Returns the reverse order of the value (string, list,tuple)<br>
reversed()

In [ ]:
alph = ["a", "b", "c", "d"]
ralph = reversed(alph)
for x in ralph:
  print(x, end =' ')

d c b a

In [ ]:
txt = 'Coding'
rtxt = reversed(txt)
for i in rtxt:
  print(i,end='')

gnidoC

Returns the sorted order <br>
sorted()

In [ ]:
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a)
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

Returns the sum, minimun and maximum value of an iterator<br>
sum(), max(),  min()

In [ ]:
a = (1, 2, 3, 4, 5)
x = sum(a)
print('sum: ', x)
print('Maximim value: ',max(a))
print('Minimum value: ', min(a))

sum:  15
Maximim value:  5
Minimum value:  1

Returns the data type of an object<br>
type()

In [ ]:
a = ('apple', 'banana', 'cherry')
b = "Hello World"
c = 33
d = {1:'a',2:'b'}

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'str'>
<class 'int'>
<class 'dict'>

Returns the number of times a specified value occurs <br>
count()

In [ ]:
txt = "I love apples, apple are my favorite fruit. And it is said, An apple a day keeps the doctor away."
x = txt.count("apple")
print(x)

3

Converts a string into upper / lower case<br>
upper(),  lower()

In [ ]:
txt = "Hello my friends"
x = txt.upper()
print('Upper case: ',x)
print('Lower case: ',x.lower())

Upper case:  HELLO MY FRIENDS
Lower case:  hello my friends

Returns a string where a specified value is replaced with a specified value<br>
replace()

In [ ]:
txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

I like apples

This function gives the length of the object as an output<br>
len()

In [ ]:
txt ='I like coding in python'
print(len(txt))

23

Splits the string at the specified separator, and returns a list<br>
split()

In [ ]:
txt = "welcome to the jungle"
x = txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

In [ ]:
txt = "Welcome, John, my friend to home."
x = txt.split(',')
print(x)

['Welcome', ' John', ' my friend to home.']

 Adds an element at the end of the list<br>
 append()

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]

a.append(b)
print(a)
print(a+b)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]
['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo'], 'Ford', 'BMW', 'Volvo']

In [ ]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
for i in b:
  a.append(i)
print(a)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

Removes all the elements from the list<br>
clear()

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.remove("apple")
print(fruits)

['banana', 'cherry', 'orange']

Adds an element at the specified position<br>
insert()

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
fruits.insert(0, "pineapple")
print(fruits)

['pineapple', 'apple', 'orange', 'banana', 'cherry']

Removes an item from a given index of the list and returns the removed item. So, in the end, the pop() will be like a list without the element that was popped<br>
pop()

In [ ]:
x = fruits.pop(1)
print(fruits)
print(x)

['pineapple', 'orange', 'banana', 'cherry']
apple

Delete elelments from a list<br>
remove()

In [ ]:
fruits.remove("banana")
print(fruits)

['pineapple', 'orange', 'cherry']

### How to define functions

In [ ]:
# it will give the last letter of the name or string

def l_char(name):
  i = name.split()
  

  return i[-1]

char = input('Enter a sentence: ')
print(l_char(char))

Enter a sentence: viji lakshmi
lakshmi

In [ ]:
''' This function greets to
    the person passed in as
    a parameter '''

def greet(name):
    print("Hello, " + name + ". Good morning!")

greet("Vijaya")

Hello, Vijaya. Good morning!

In [ ]:
def absolute_value(num):
    """This function returns the absolute
    value of the entered number"""

    if num >= 0:
        return (num)
    else:
        return (-num)


print(absolute_value(2))

print(absolute_value(-4))

2
4

In [ ]:
def even(num):
    """This function returns if the value is even
   of the entered number"""

    if num % 2 == 0:
        return num,': is even number'
    else:
        return 'Not an even number'

print(even(2))

print(even(5))

(2, ': is even number')
Not an even number

In [ ]:
s=input("enter any string ")
l=[]
for x in s:
    if x not in l:
        l.append(x)
output=''.join(l)
print(output)

enter any string python hello world!!
python elwrd!

In [ ]:
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5",'a']

int_nums = list(map(float, str_nums))
print(int_nums)

ValueError: ignored

In [ ]:
list(int_nums)

[4.0, 8.0, 6.0, 5.0, 3.0, 2.0, 8.0, 9.0, 2.0, 5.0]

In [ ]:
str_nums=[1,2,4,'a']

In [ ]:
# function that filters vowels
def vowel(alpha):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (alpha in letters):
        return True
    else:
        return False

string ='Manisha'
  
# using filter function
filtered_vowel = filter(vowel,string)
print(list(filtered_vowel))

['a', 'i', 'a']

In [ ]:
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r','a','u']

filtered_letters = filter(vowel, sequence)

print('The filtered letters are:')
for s in filtered_letters:
    print(s)

The filtered letters are:
e
e
a
u

In [ ]:
# filter function
age = [5, 12, 17, 18, 24, 32]

def checkAge(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(checkAge, age)

for i in adults:
  print(i)

18
24
32

In [ ]:
numbers = [-2, -1, 0, 1, 2]
float_numbers = list(map(float,numbers))
abs_no = list(map(abs,numbers))
print(float_numbers)
print(abs_no)
# try to make a list with floating number and then absolute number

[-2.0, -1.0, 0.0, 1.0, 2.0]
[2, 1, 0, 1, 2]

In [ ]:
hacker rank and leetcode